body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
}

h1, h2, h3 {
	margin: 0;
}

p {
	margin-bottom: 10px;
}

.skills,
.about,
.experience,
.projects {
	padding: 20px;
}

.project {
	padding: 10px 0;
}
.social-icons {
	margin-top: 20px;
}

.social-icons a {
	color: #333;
	margin-right: 10px;
	font-size: 20px;
	text-decoration: none;
}

footer {
	background-color: #f5f5f5;
	padding: 20px;
	text-align: center;
	color: #666;
}


/* .skills {
	margin-bottom: 40px;
} */

.entry {
	padding: 10px 0;
}

/* .skills h2 {
	font-size: 24px;
	margin-bottom: 10px;
	color: #333;
} */

.skills-columns {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.skills-column {
	flex: 1;
	margin-right: 20px;
}

.skills-group {
	margin-bottom: 20px;
}

.skills-group h4 {
	margin-bottom: 10px;
	color: #555;
}

.skills-list {
	list-style-type: disc;
	color: #555;
	margin-left: 20px;
	padding-left: 10px;
}

.skills-list-item {
	margin-bottom: 5px;
}

.highlight {
	background-color: #f1f1f1;
	padding: 2px 5px;
	border-radius: 4px;
}
